.content p {
    margin-bottom: 24px;
}

.content img:first-child {
    margin-bottom: 44px;
}

.content h1 {
    margin-bottom: 24px;
}

.content p::first-letter {
    font-size: 4.5rem;
    font-weight: bold;
    font-family: serif;
    float: left;
    margin-right: 16px;
    margin-bottom: 0;
    line-height: 1;
}